body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whole-container {
    display: flex;
    min-height: 200vh;
    flex-direction: column;
}

.explanation-page {
    display: flex;
    font-size: 2em;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 10vw;
    text-align: center;
}

.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-categories {
    text-align: center;
}

.quiz-categories div {
    margin: 5px 0;
    width: 80vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.question-header {
    font-size: 2em;
    margin-bottom: 50px;
}

.answer {
    padding: 3vh 10vw;
    width: 70%;
    border: 5px solid #658EA9;
    margin: 10px 0; 
}

.answer:first-of-type {
    margin-top: 0;
}

.focused {
    background-color: green;
}

.option {
    border: 5px solid salmon;
    transition: 1s all ease;
}

.option-1:hover {
    background-color: skyblue;
}

.option-2:hover {
    background-color: teal;
}

.option-3:hover {
    background-color: rgb(0, 128, 100);
}

.toggle-theme {
    position: fixed;
    top: 20px; 
    right: 20px;
}

.arrow {
    position: absolute;
    top: 75vh;
    left: 50;
}

.triangle {
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    border-right: 20px solid black;
    border-bottom: 20px solid black;
}

.lower-triangle {
    position: relative;
    bottom: 40px;
}

button {
    padding: 5px 10px;
    border: 2px solid teal;
    transition: .1s ease all;
}

button:hover {
    box-shadow: 2px 2px 2px grey;
}

@media(max-width: 760px) {
    .quiz-container {
        width: 100vw;
        height: 75vw;
    }

    .quiz-categories div {
        width: 100vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whole-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    section {
        font-size: 18px;
        word-break: break-word;
    }
}
