@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat&display=swap');

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: "Montserrat", sans-serif;
}

.whole-container {
    display: flex;
    min-height: 200vh;
    flex-direction: column;
}

.explanation-page {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 15vw;
    text-align: center;
}

.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-categories {
    text-align: center;
}

.quiz-categories .option {
    margin: 5px 0;
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.question-header {
    font-size: 2em;
    margin-bottom: 50px;
}

.answer {
    padding: 3vh 10vw;
    width: 70%;
    border: 5px solid #AB5F5B;
    margin: 10px 0; 
}

.answer:first-of-type {
    margin-top: 0;
}

.focused {
    background-color: #9DCEFA;
}

.option {
    border: 5px solid salmon;
    transition: 0.2s all ease;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    overflow: hidden;
    letter-spacing: 2px;
    color: teal;
}

.option:hover {
    background-color: teal;
    color: white;
    box-shadow: 0 0 10px teal, 0 0 40px teal, 0 0 80px teal; 
    transition-delay: .25s;
}

.toggle-theme {
    position: fixed;
    top: 20px; 
    right: 20px;
}

.arrow {
    position: absolute;
    top: 75vh;
    left: 50;
}

.triangle {
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    border-right: 20px solid black;
    border-bottom: 20px solid black;
}

.black-border {
    border-right: 20px solid black;
    border-bottom: 20px solid black; 
}

.white-border {
    border-right: 20px solid white;
    border-bottom: 20px solid white;
}


.lower-triangle {
    position: relative;
    bottom: 40px;
}

h1 {
    margin-bottom: 20px;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 3em;
    font-weight: 900;
}

section {
    font-size: 22px;
    padding-bottom: 15vh;
}

button {
    padding: 5px 10px;
    border: 2px solid teal;
    transition: .1s ease all;
}

button:hover {
    box-shadow: 2px 2px 2px grey;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media(max-width: 760px) {
    .quiz-container {
        width: 100vw;
        height: 75vw;
    }

    .quiz-categories div {
        width: 100vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .whole-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .triangle {
        height: 60px;
        width: 60px;
        transform: rotate(45deg);
        border-right: 10px solid black;
        border-bottom: 10px solid black;
        margin-bottom: 5px;
    }

    .black-border {
        border-right: 10px solid black;
        border-bottom: 10px solid black; 
    }

    .white-border {
        border-right: 10px solid white;
        border-bottom: 10px solid white;
    }

    h1 {
        font-size: 36px;
    }

    section {
        font-size: 18px;
        word-break: break-word;
    }
}

@keyframes radialGradient {
    from {
        background: inherit;   
    }
    to {
        background: rgb(34,193,195);
        background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }
}
