@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat&display=swap');

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: "Montserrat", sans-serif;
}

.whole-container {
    display: flex;
    min-height: 200vh;
    flex-direction: column;
}

.explanation-page {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 15vw;
    text-align: center;
}

.page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-categories {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60vw;
    height: 50vw; 
    grid-gap: 15px;
    font-size: 1.2vw;
    padding: 5px;
}

.quiz-categories .option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.question-header {
    font-size: 2em;
    margin-bottom: 50px;
}

.answer {
    height: 17.5vh;
    width: 70vw;
    border: 5px solid rgb(0, 204, 255);
    margin: 10px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer:hover {
    cursor: pointer;
}

.answer:first-of-type {
    margin-top: 0;
}

.focused {
    background-color: #60A4CC;
    border: 5px solid rgb(0, 204, 255);
    color: white;
    box-shadow: 
        0 0 10px #417EA1, 
        0 0 40px #417EA1, 
        0 0 80px #417EA1, 
        inset 0 0 5px rgb(39, 63, 82), 
        inset 0 0 30px steelblue;
}

.option {
    border: 5px solid rgba(40, 176, 255, 0.637);
    transition: 0.2s all ease;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    overflow: hidden;
    letter-spacing: 2px;
}

.option:hover {
    background-color: #60A4CC;
    border: 5px solid rgb(0, 204, 255);
    color: white;
    box-shadow: 
        0 0 10px #417EA1, 
        0 0 40px #417EA1, 
        0 0 80px #417EA1, 
        inset 0 0 5px rgb(39, 63, 82), 
        inset 0 0 30px steelblue; 
    transition-delay: .25s;
    cursor: pointer;
}

.toggle-theme {
    position: fixed;
    top: 20px; 
    right: 20px;
}

.arrow {
    position: absolute;
    top: 75vh;
    left: 50;
}

.triangle {
    height: 80px;
    width: 80px;
    transform: rotate(45deg);
    border-right: 20px solid black;
    border-bottom: 20px solid black;
}

.black-border {
    border-right: 20px solid black;
    border-bottom: 20px solid black; 
}

.white-border {
    border-right: 20px solid white;
    border-bottom: 20px solid white;
}


.lower-triangle {
    position: relative;
    bottom: 40px;
}

h1 {
    margin-bottom: 20px;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 3em;
    font-weight: 900;
}

h2 {
    padding: 3vh 10vw;
}

section {
    font-size: 22px;
    padding-bottom: 15vh;
    animation: fadein 4s;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid rgb(0, 204, 255);
    transition: .1s ease all;
    background-color: black;
    color: white;
}

.dark {
    color: black;
    background-color: azure;

}

button:hover {
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}

/* ------------------- MEDIA QUERIES ------------------- */

@media(max-width: 760px) {

    .page-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .quiz-container div {
        height: 15vh;
    }

    .quiz-categories {
        display: flex;
        flex-direction: column;
        height: 60vh;
        align-items: center;
    }

    .quiz-categories div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60vw;
        padding: 10px 0;
        margin: 10px 0; 
        font-size: 14px;
        border: 2px solid rgba(40, 176, 255, 0.795);
    }

    .answer {
        font-size: 14px;
        height: 20vh;
    }

    .whole-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .triangle {
        height: 60px;
        width: 60px;
        transform: rotate(45deg);
        border-right: 10px solid black;
        border-bottom: 10px solid black;
        margin-bottom: 5px;
    }

    .black-border {
        border-right: 10px solid black;
        border-bottom: 10px solid black; 
    }

    .white-border {
        border-right: 10px solid white;
        border-bottom: 10px solid white;
    }

    h1 {
        font-size: 36px;
    }

    section {
        font-size: 18px;
        word-break: break-word;
    }
}

@keyframes radialGradient {
    from {
        background: inherit;   
    }
    to {
        background: rgb(34,193,195);
        background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
